<h1>Blog Posts</h1>

<p>
  <% if user_signed_in? %>
    <%= 'Hello ' + current_user.name + ' | ' + current_user.email %> |
    <%= link_to( 'Sign out', destroy_user_session_path, {method: :delete} )%>
  <% else %>
    <p>
      Not Signed In? 
      <%= link_to( 'Sign in', new_user_session_path ) %>
    </p>
  <% end%>
</p>

<% if user_signed_in? %>
  <%= link_to 'New post', new_post_path, class: "btn btn-primary"%>
<% end %>  
<%= link_to 'Archives', archive_posts_path, class: "btn btn-success" %>

<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>    
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      
      <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
      
      
      
    </tr>
  <% end %>
</table>


<%# commented out block below using if false%>
<h4>Tags</h4>
<% @tags.each do |tag|%>
  <ul>
    <li><%= link_to tag.name, { action: 'tag', tag_id: tag.id }, { method: :post }%></li>  
  </ul>
<% end %>
