<h1>My Posts</h1>

<%= link_to 'New post', new_post_path, class: "btn btn-primary"%>
<%= link_to 'Archives', archive_posts_path, class: "btn btn-success" %>
<%= link_to 'Users', users_path, class: "btn btn-info"%>

<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>    
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>


<%# commented out block below using if false%>
<h4>Tags</h4>
<% @tags.each do |tag|%>
  <ul>
    <li><%= link_to tag.name, { action: 'tag', tag_id: tag.id }, { method: :post }%></li>  
  </ul>
<% end %>
